{% set grid_size = theme_var('grid-size') %}

{# create a page collection from headers which are unfortunately not proper page collections, see https://github.com/getgrav/grav-plugin-admin/issues/2280 #}
{% if page.header.particles %}

    {% set particles = page.header.particles %}
    {% if particles.members %}
        {% set items_filter = {} %}
        {% if particles.members.children %}
            {% set items_filter = items_filter|merge({'@page.children': particles.members.children}) %}
        {% endif %}
        {% if particles.members.descendants %}
            {% set items_filter = items_filter|merge({'@page.descendants': particles.members.descendants}) %}
        {% endif %}
        {% if particles.members.modules %}
            {% set items_filter = items_filter|merge({'@page.modular': particles.members.modules}) %}
        {% endif %}

        {% if items_filter is not empty %}
            {% set particles_collection = page.collection({'items': items_filter}) %}
        {% endif %}

        {# use page.intersect() for the taxonomy selections (rather than page.merge()) #}
        {% if particles.members.taxonomy %}
            {% set taxonomy_collection = page.collection({'items': {'@taxonomy': particles.members.taxonomy}}) %}
            {% set particles_collection = ( particles_collection is defined ? particles_collection.intersect(taxonomy_collection) : taxonomy_collection ) %}
        {% endif %}
        {# set collection options using collection methods because we needed to instantiate the collection to run intersect() on any taxonomy parameters specified in frontmatter #}
        {% if particles_collection is defined %}
            {% if particles.order %}
                {% do particles_collection.order(particles.order.by, particles.order.dir|default('asc')) %}
            {% endif %}
            {% if particles.limit %}
                {% do particles_collection.slice(0, particles.limit) %}
            {% endif %}
        {% endif %}

    {% endif %}

{% endif %}

{% block body %}
    {% if particles_collection is defined %}
        {% do assets.addCss('theme://css/bricklayer.css') %}
        {% do assets.add('theme://js/bricklayer.min.js') %}

        {% set grid_id = unique_id() %}

        <section id="body-wrapper" class="section blog-listing">
            <section class="container {{ grid_size }}">

            {% embed 'partials/layout.html.twig' %}
                {% block item %}
                    {% if page.header.title or page.header.deck_heading %}
                        <h2>{{ page.header.deck_heading|default(page.title) }}</h2>
                    {% endif %}
                    {{ page.content|raw }}
                    <div id="{{ grid_id }}" class="bricklayer">
                    {% for page in particles_collection %}
                        {% include 'partials/particle.html.twig' with {'page': page} %}
                    {% endfor %}
                    </div>
                {% endblock %}
            {% endembed %}
            </section>
        </section>

        {% script at 'bottom' %}
            $(document).ready ( function() {
                var $grid = $('#{{ grid_id }}');
                if ($grid.length == 1) {
                    var bricklayer = new Bricklayer($grid[0]);
                }
            });
        {% endscript %}
    {% endif %}
{% endblock %}
